body {
	font-family: Arial, sans-serif;
	background-image: radial-gradient(rgba(150,150,150,0.4), rgba(50,50,50,0.4)), url(../media/shipwreck-background.jpg);
	background-size:cover;
	padding: 0;
	margin: 0;
}

/*
body {
	transform: scale(.5);
}
header {
	transform-origin: 50% 480%;
	transform: scale(2);
}*/

@font-face {
    font-family: papyrus;
    src: url(papyrus.ttf);
}

h1 {
	font-size: 56px;
	text-align: center;
	transition: 0.5s;
}
h2 {
	color: #29F;
	font-size: 40px;
	text-align: center;
	transition: 0.5s;
}
h3 {
	font-size: 36px;
	line-height: 32px;
	transition: 0.5s;
}
h4, .small {
	font-size: 22px;
	line-height: 15px;
	transition: 0.5s;
}
h6 {
	text-align: center;
}
ul {
	padding-left: 80px;
}

.extra-clickable {
	pointer-events: auto;
}

header {
	position: absolute;
	display: block;
	z-index: 100;
	background: #020508;
	color: #FAFAFA;
	width: 100%;
	opacity: 1;
	transition: 0.5s;
}
header h1 {
	display: inline-flex;
	position: relative;
	margin: 15px 30px;
	font-size: 32px;
	color: #18F;
	font-family: papyrus;
}
header nav {
	position: relative;
	float: right;
	display: block;
	cursor: default;
	right: 0;
	top: 0;
	font-variant: small-caps;
}
header nav ul {
	list-style: none;
	padding: 0;
}
header nav li {
	cursor: pointer;
	display: inline-block;
	list-style: none;
	margin: 0;
}
header #navtoggler {
	display: none;
}
header a {
	text-decoration: none;
	font-weight: bold;
	text-shadow: 2px 2px 3px #333;
	transition: .5s;
}
#navtoggler button {
	background-color: #000;
	border: none;
	color: #EEE;
	font-size: 16px;
	padding: 8px 20px;
	outline: none;
}
#navtoggler button:hover {
	background-color: #444;
}
.linkblock {
	padding: 30px 20px;
	bottom: 0;
	color: #FFF;
	display: block;
	text-align: center;
}
.linkblock:hover {
	background-color: #16B;
}
.navicon {
	font-size: 28px;
}
#impress a {
	color: #555;
	padding: 5px;
	font-weight: bold;
	text-shadow: 2px 2px 3px #333;
	transition: .5s;
}
#impress a:hover, a:focus {
	text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

#impress q {
	display: block;
	font-size: 46px;
	line-height: 64px;
	margin:  40px 30px 20px 30px;
}
#impress q strong {
	white-space: nowrap;
}

.fallback-message {
	color: red;
	width: 90%;
	padding: 20px;
	margin: 50px auto;
	border: 2px solid #345;
	box-shadow: 5px 5px 15px #777;
	background: #E3E7EF;
}
.fallback-message p {
	margin-bottom: 10px;
}
.impress-supported .fallback-message {
	display: none;
}

.step {
	position: relative;
	width: 900px;
	padding: 40px;
	margin: 20px auto;
	box-sizing: border-box;
	font-family: Arial;
	font-size: 48px;
	line-height: 1.5;
}
.impress-enabled .step {
	margin: 0;
	opacity: 0.2;
	transition: opacity 1s;
}
.impress-enabled .step.active {
	opacity: 1;
}

.slide {
	display: block;
	width: 900px;
	height: 700px;
	padding: 40px 60px;
	background-color: white;
	border: 1px solid #AAA;
	border-radius: 15px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, .1);
	color: #555;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	font-size: 32px;
}
.slide h2 {
	font-size: 42px;
}
.slide p {
	font-size: 18px;
}

.circle, .circleT, .circleST, .circleSST, .circleSSST, .circleSSSST, .circleS {
	display: block;
	width: 800px;
	height: 800px;
	padding: 120px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 50%;
	color: #555;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
	font-size: 32px;
}

.circleT h2, .circleT h3, .circleST h2, .circleST h3, .circleSST h2, .circleSST h3, .circleSSST h2, .circleSSST h3, .circleSSSST h2, .circleSSSST h3, .circleS h2, .circleS h3 {
	margin: 0 0 50px 0;
	text-align: center;
}
.circleT h2 {
	font-size: 32px;
}

.circleT {
	width: 900px;
	height: 900px;
	padding: 150px 100px;
	border: 20px solid #ABC;
}
.circleST {
	border: 20px solid #37D;
}
.circleSST {
	border: 20px solid #1CA;
}
.circleSSST {
	border: 20px solid #C34;
}
.circleSSSST {
	border: 20px solid #A86;
}
.circleS {
	border: 15px solid #000;
}

.hint {
	display: none;
	position: absolute;
	box-sizing: border-box;
	padding: 0 5%;
	width: 60%;
	border-radius: 30px;
	left: 20%;
	bottom: 5%;
	background: rgba(0,0,0,0.7);
	color: #EEE;
	text-align: center;
	font-size: 28px;
	z-index: 99;
	opacity: 0;
}
.impress-enabled .hint {
	display: block;
}

.text {
	display: block;
	font-size: 32px;
}
.ledgendTitle {
	height: 450px;
}
.ledgendTitle h1 {
	position: absolute;
	text-align: center;
	bottom: 0;
	top: 300px;
}

#overview {
	display: none;
}
.impress-on-overview .step {
	opacity: 1;
	cursor: pointer;
}

.impress-on-formation-of-thunderstorms .formation-thunderstorms-step, .impress-on-origins-of-roguewaves .origin-roguewaves-step {
	opacity: 0.8;
}

img {
	display: block;
	margin: 5% auto;
	max-width: 90%;
	max-height: 80%;
}

#contents-1 li, #contents-2 li, #contents-3 li {
	margin: 20px;
	font-size: 36px;
}

#sources-title {
	opacity: 0.1;
}
#sources-title h1, #sources-title h2, #sources-websites, #sources-books {
	opacity: 0.01;
}
.controlButton {
	opacity: 0.8;
	color: white;
	background: black;
	border-radius: 15px;
	position: absolute;
	margin: 50px;
	width: 120px;
	bottom: 0;
	padding: 0px 20px;
	text-align: center;
	transition: 0.5s;
}
.controlButton h3 {
	font-size: 28px;
}
.controlButton:hover {
	background: darkgray;
	cursor: pointer;
}

#next {
	right: 0;
}
#prev {
	left: 0;
}

.impress-on-sources-title #sources-title, .impress-on-sources-title #sources-title h1, .impress-on-sources-title #sources-title h2, .impress-on-sources-websites #sources-title h1, .impress-on-sources-websites #sources-title h2, .impress-on-sources-books #sources-title h1, .impress-on-sources-books #sources-title h2, .impress-on-sources-websites #sources-websites, .impress-on-sources-books #sources-books {
	opacity: 1;
}
.impress-on-sources-title #sources-websites, .impress-on-sources-title #sources-books, .impress-on-sources-websites #sources-books, .impress-on-sources-books #sources-websites {
	opacity: 0.4;
}
.impress-on-sources-websites #sources-title,  .impress-on-sources-books #sources-title {
	opacity: 0.8;
}

#thanks {
	opacity: 0;
}
.impress-on-thanks .step {
	opacity: 0;
}
.impress-on-thanks #thanks {
	opacity: 1;
}

.impress-enabled {
	pointer-events: none;
}
.impress-enabled #impress {
	pointer-events: auto;
}
